@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
}
header #nextheader{
    background:#CA7900;
    display: grid;
    grid-auto-flow: column;
    padding:0px;
    margin: 0px;
}
header #text{
    padding-left: 0px;
    color: #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    margin-left: 91px;
}
header #ourbeer{
    padding-left: 0px;
    color: #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    margin-left: 23px;
    margin-right: 20px;
}
header #deliver{
    padding-left: 0px;
    color: #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    margin-left: 23px;
    margin-right: 300px;
}
header #mybuyings{
    padding-left: 0px;
    color: #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 100px;
}
body{
    background:#000000D6 84%
}
#configpic{
    display: flex;
    justify-content: center;
    margin-bottom: -60px;
    padding-top: 20px;
}
main #background{
    background: #CA7900;
    width: 1249px;
    height: 180px;
    left: 136px;
    top: 339px;
    text-align: center;
    border-radius: 40px;
    margin-left: 38px;
    margin-top: 30px;
    font-family: 'Raleway';
    font-style: none;
    font-weight: 200px;
    font-size: 26px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-top:15px;

}

main .container{
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 45px;
    margin-top: 14px;
    margin-left: 90px;
       
}
main #wineimg{
    width:250px;
    height: 180px;
    margin-left: 2rem;
    align-items: center;
    line-height: 200px;
    
}
main #wine{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-left: 6rem;
    line-height: 28px;
    color:#F5F5F5;
    
}
.button1{
    background: #CA7900;
    border: 4px solid #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:14px;
    color: #F5F5F5;
    text-align: center;
    padding-bottom:0 auto;
    margin-left: 6rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600px;
    font-size: 15px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    width: 7rem;
    height: 3rem;
    
}
main #beerimg{
    align-items: center;
    margin-left: 2rem;
    width:250px;
    height:180px;
}
main #beer01{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-left: 6rem;
    line-height: 28px;
    color:#F5F5F5;
    
}
.button2{
    background: #CA7900;
    border: 4px solid #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:14px;
    color: #F5F5F5;
    text-align: center;
    padding-bottom:0 auto;
    margin-left: 6rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600px;
    font-size: 15px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    width: 7rem;
    height: 3rem;
    
}
main #cokeimg{
    align-items: center;
    margin-left: 2rem;
    width:250px;
    height:180px;
    margin-top: 8px;
}
main #coke{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-left: 6rem;
    line-height: 28px;
    color:#F5F5F5;
    
}
.button3{
    background: #CA7900;
    border: 4px solid #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:14px;
    color: #F5F5F5;
    text-align: center;
    padding-bottom:0 auto;
    margin-left: 6rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600px;
    font-size: 15px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    width: 7rem;
    height: 3rem;
    
}
